svg {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  background: #FFFFFF;
}

svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

circle.hiddenTrash {
  opacity: 0;
  stroke: #B24545;
  stroke-width: 2px;
}

rect.delete {
  fill: #FFE682;
  stroke: #E6B800;
  stroke-width: 2px;
  cursor: pointer;
}

text.warning {
  fill: #B20000;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 2.5px;
  cursor: default;
}

path.link:hover {
  stroke-width: 3.5px;
}


path.link.expanded {
  stroke-width: 3.5px;
}


svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.initLine {
  pointer-events: none;
}

path.link.hoverPath {
  opacity: 0;
  stroke-width: 15px;
}

path.dragline {
  pointer-events: none;
  stroke-dasharray: 10,5;
}

path.selected.hidden {
  stroke-width: 0;
}

path.hidden {
  stroke-width: 0;
}

.hidden {
  visibility: hidden;
  font-size: 0px;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
  fill: #82CDFF;
}

circle.node.accepting {
  stroke: #000 !important;
  stroke-width: 3px;
  fill: #8AE68A;
}

circle.node.hidden {
  stroke-width: 0px;
  fill: none;
}

circle.hidden {
  stroke-width: 0px;
  fill: none;
}

circle.winningp0 {
  fill: #82CDFF;
}

circle.winningp1 {
  fill: #FF828F;
}

rect.node {
  stroke-width: 1.5px;
  cursor: pointer;
  fill: #82CDFF;
}

rect.node.accepting {
  stroke: #000 !important;
  stroke-width: 3px;
  fill: #8AE68A;
}

rect.node.hidden {
  stroke-width: 0px;
  fill: none;
}

rect.winningp0 {
  fill: #82CDFF;
}

rect.winningp1 {
  fill: #FF828F;
}

rect.hidden {
  stroke-width: 0px;
  fill: none;
}

circle.hoverMenu {
  opacity: 0;
  pointer-events: none;
}

circle.hoverMenu.visible {
  opacity: .9;
  pointer-events: all;
  cursor: crosshair;
  fill: #E0E0E0;
}

text.hoverMenu {
  visibility: hidden;
  pointer-events: none;
  fill: #000;
}

text.hoverMenu.visible {
  visibility: visible;
  text-anchor: middle;
  pointer-events: all;
  cursor: pointer;
}

text.hoverMenu.visible:hover {
  font-size: 18px;
}

path.hoverMenu {
  visibility: hidden;
  pointer-events: none;
  fill: none;
  stroke: #000;
  stroke-width: 2.5px;
  cursor: default;
}

path.hoverMenu.visible {
  visibility: visible;
  pointer-events: all;
  cursor: pointer;
}

path.hoverMenu.visible:hover {
  stroke-width: 3.5px;
}

text {
  font: 15px sans-serif;
  pointer-events: none;
}

.transLabel {
  text-anchor: middle;
  pointer-events: all;
  cursor: pointer;
}

.transLabel:hover {
  font-size: 18px;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
  pointer-events: none;
}

/* Generic context menu styles */
.contextMenu {
    position: absolute;
    z-index: 999;
    border: solid 1px rgba(0,0,0,.33);
    background: rgba(255,255,255,.95);
    padding: 5px 0;
    margin: 0px;
    display: none;
    font: 12px/15px Lucida Sans, Helvetica, Verdana, sans-serif;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-box-shadow: 2px 5px 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 2px 5px 10px rgba(0,0,0,.3);
    box-shadow: 2px 5px 10px rgba(0,0,0,.3);
}

.contextMenu > li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.contextMenu .shortcut {
    width: 115px;
    text-align:right;
    float:right;
}

.contextMenuLi > a {
    -moz-user-select: none;
    -webkit-user-select: none;
    color: #222;
    text-decoration: none;
    display: block;
    line-height: 20px;
    height: 20px;
    background-position: 6px center;
    background-repeat: no-repeat;
    outline: none;
    padding: 0px 15px 1px 20px;
}

.contextMenuLi:hover > a {
    background-color: #2e5dea;
    color: white;
    cursor: default;
}

.contextMenuLi.disabled > a {
    color: #999;
}

.contextMenuLi.disabled:hover > a {
    background-color: transparent;
}

.contextMenu LI.separator {
    border-top: solid 1px #E3E3E3;
    padding-top: 5px;
    margin-top: 5px;
}

.boxed {
  border: 1px solid black ;
  padding: 3px
}
  
.thumbsup , .thumbsdown {
  width:20px;
  height:20px;
}

#navlist li{
display: inline;
list-style-type: none;
padding-right: 25px;
}

#navlist li li{
display: inline;
list-style-type: none;
padding-right: 25px;
}

#navlist ul{
margin: 0px 0.5em 0.2em 0px;
}

#navlist hr{
margin: 0 0 0.3em
}