.cache-main
.cache-tests
.classpath
.project
.settings/
console.devmode.log
develop.db.mv.db
develop.db.trace.db
project/project/
project/target/
target/
src/main/resources/props/default.props
src/main/resources/props/production.default.props
.idea
/.gitignore
